html {
  box-sizing: border-box;
  background-color: #999;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {I
margin: 0;
}

img {
  width: 20%;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
}
