html {
  box-sizing: border-box;
  background-color: #999;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {I
margin: 0;
}

img {
  width: 5rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

li {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  align-items: flex-start;
}

hgroup {
  display: flex;
}
